<ion-header no-border >
  <ion-toolbar color="medium" >
         <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-title>Prejuízo</ion-title>
          </ion-buttons>
  </ion-toolbar>
  <ion-list>
      <ion-item>
        <ion-label>Ano :     {{ano}}</ion-label>
        <ion-label>Mes</ion-label>
        <ion-select [(ngModel)]="meses" (ionChange)="metodoano()" placeholder="Selecione">
          <ion-select-option value="0">Janeiro</ion-select-option>
          <ion-select-option value="1">Fevereiro</ion-select-option>
          <ion-select-option value="2">Março</ion-select-option>
          <ion-select-option value="3">Abril</ion-select-option>
          <ion-select-option value="4">Maio</ion-select-option>
          <ion-select-option value="5">Junho</ion-select-option>
          <ion-select-option value="6">Julho</ion-select-option>
          <ion-select-option value="7">Agosto</ion-select-option>
          <ion-select-option value="8">Setembro</ion-select-option>
          <ion-select-option value="9">Outubro</ion-select-option>
          <ion-select-option value="10">Novembro</ion-select-option>
          <ion-select-option value="11">Dezembro</ion-select-option>
        </ion-select>
      </ion-item>
  </ion-list>
</ion-header>
  <ion-content>

      <div *ngIf="!prejuizo">
        <ion-list lines="none">
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h3>
                  <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                </h3>
                <p>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </p>
                <p>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
        </ion-list>
        </div>

        <div *ngIf="prejuizo == 1"  style="position: absolute; left:20%;  top: 50%;">
          <ion-item lines="none"><ion-icon color="light"  name="sad"></ion-icon>
            <ion-label color="light">Não há itens registrados.</ion-label></ion-item>
        </div>
        <div *ngIf="prejuizo">
            <ion-virtual-scroll [items]="prejuizo">
                <div *virtualItem="let item">
          <ion-item>
            <ion-icon (press)="presentActionSheet(item)" slot="start" color="danger" name="remove-circle-outline"></ion-icon>
            <ion-label>
              <h2><b>{{item.nome}}</b></h2>
              <p>{{item.descricao}}</p>  
            </ion-label> 
          <ion-icon color="medium" name="calendar"></ion-icon><p>{{item.dia}}</p>
            <ion-badge color="danger" slot="end" >R$ {{item.valor}}</ion-badge>    
          </ion-item>
        </div>
      </ion-virtual-scroll>
          </div>



</ion-content>

