<ion-header no-border >
  <ion-toolbar color="medium" >
         <ion-buttons *ngIf="teste == true" style="margin-left: 5px;" slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title text-center *ngIf="teste == true" >Contas a Receber</ion-title>
    <ion-buttons *ngIf="teste == true" slot="end"  style="margin-right: 25px;">
      <ion-button (click)="teste = false;"  ion-button icon-only>
        <ion-icon name="ios-search"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons *ngIf="teste == false"  slot="start">
      <ion-button (click)="teste = true;" ion-button icon-only style="font-size: 15px;">
        <ion-icon name="md-arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

<ion-searchbar (ionChange)="procurarclientes()" [(ngModel)]="val" *ngIf="teste == false" ></ion-searchbar>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="cliente == undefined">
    <ion-list lines="none">
      <ion-item>
        <ion-thumbnail slot="start">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
      <ion-item>
          <ion-thumbnail slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
    </ion-list>
    </div>
    <div *ngIf="cliente == 1"  style="position: absolute; left:20%;  top: 50%;">
      <ion-item lines="none"><ion-icon color="light"  name="sad"></ion-icon>
        <ion-label color="light">Não há itens registrados.</ion-label></ion-item>
    </div>
<ion-virtual-scroll [items]="cliente" approxItemHeight="300px">
  <div *virtualItem="let item;">
    <ion-card >
        <ion-item no-lines>
          <ion-icon style="color: black"  name="person" slot="start"></ion-icon>
          <ion-label><b>{{item.nome}}</b></ion-label>
          <ion-button (click)="receber(item)" color="tertiary" fill="outline" slot="end">VER CONTAS</ion-button>
        </ion-item>
        <ion-item no-lines>
            <ion-icon slot="start" color="dark" name="phone-portrait"></ion-icon>    
            <ion-label>{{item.cpf}}</ion-label>
          </ion-item>

          <ion-item>
              <ion-icon  color="success" name="cash"></ion-icon>
            <ion-label  text-center><b>R$ {{item.preco}}</b></ion-label>
          </ion-item>
          <ion-item *ngIf="item.recebido != 0">
              <ion-icon style="color:blueviolet" slot="start" name="calculator"></ion-icon>
               <ion-label style="color:blueviolet">Recebido</ion-label>
              <ion-badge slot="end" color="danger">R$ {{item.recebido}}</ion-badge>
          </ion-item>
        </ion-card>
      </div>
</ion-virtual-scroll>



</ion-content>
